In [2]:
import pandas as pd
import numpy as np
import random


# Settings
num_employees = 10_000
num_departments = 100
num_tickets = 1_000_000  # 1 million rows

# Generate employee IDs
employee_ids = [f"E{str(i).zfill(5)}" for i in range(1, num_employees + 1)]

# Generate department names
department_prefixes = [
    "Global", "Corporate", "Enterprise", "Advanced", "Workplace",
    "Sales", "Customer", "IT", "Employee", "Internal"
]
department_suffixes = [
    "Data Privacy and Compliance Office", "Strategy and Global Initiatives",
    "Risk Management and Internal Controls", "Research and Future Tech",
    "Culture and Employee Engagement", "Enablement - APAC Division",
    "Insights and Brand Analytics", "Infrastructure & Reliability Team",
    "Lifecycle Operations (HR Shared Services)", "Audit and Assurance Services"
]
department_names = [
    f"{prefix} {suffix}" for prefix in department_prefixes for suffix in department_suffixes
][:num_departments]

# Generate ticket table
np.random.seed(42)
ticket_ids = np.arange(1, num_tickets + 1)
employee_choices = np.random.choice(employee_ids, size=num_tickets)
department_choices = np.random.choice(department_names, size=num_tickets)

df_tickets = pd.DataFrame({
    "ticket_id": ticket_ids,
    "employee_id": employee_choices,
    "department_name": department_choices
})
# Update settings
num_employees = 100
num_departments = 10
num_tickets = 1_000_000  # Keep dataset size large

# Generate new employee IDs (numeric)
employee_ids = list(range(1, num_employees + 1))

# Use only the first 10 department names
department_names = department_names[:num_departments]

# Generate ticket data
np.random.seed(42)
ticket_ids = np.arange(1, num_tickets + 1)
employee_choices = np.random.choice(employee_ids, size=num_tickets)
department_choices = np.random.choice(department_names, size=num_tickets)

df_tickets_small = pd.DataFrame({
    "ticket_id": ticket_ids,
    "employee_id": employee_choices,
    "department_name": department_choices
})

df_tickets_small.to_csv("./blah.csv")

In [3]:
#Connect to DuckDB (in-memory or on-disk)
import duckdb
con = duckdb.connect("tickets1.duckdb")  # or just ":memory:" for in-memory

# Load the CSV file
con.execute("""
    CREATE TABLE support_tickets AS
    SELECT * FROM read_csv_auto('blah.csv')
""")

In [3]:
import duckdb
import pandas as pd
import numpy as np

# Config
num_employees = 100
num_departments = 10
num_tickets = 1_000_000
np.random.seed(42)

# Employee IDs: 1 to 100
employee_ids = list(range(1, num_employees + 1))

# 6 short department names (8–12 chars), 4 long (15–20 chars)
short_depts = ["HR Office", "IT Desk", "Sales Ops", "Legal Team", "Dev Squad", "UX Lab"]
long_depts = ["Corporate Compliance", "Employee Development", "Infrastructure Ops", "Financial Accounting"]
department_names = short_depts[:6] + long_depts[:4]

# Generate ticket data
ticket_ids = np.arange(1, num_tickets + 1)
employee_choices = np.random.choice(employee_ids, size=num_tickets)
department_choices = np.random.choice(department_names, size=num_tickets)

# Create DataFrame
df_tickets = pd.DataFrame({
    "ticket_id": ticket_ids,
    "employee_id": employee_choices,
    "department_name": department_choices
})

# Create DuckDB connection (in-memory)
con = duckdb.connect("example.db")

# Load DataFrame into DuckDB
con.register("df_tickets", df_tickets)
con.execute("CREATE TABLE support_tickets AS SELECT * FROM df_tickets")

# Run group-by query
result = con.execute("""
    SELECT employee_id, department_name, COUNT(*) AS ticket_count
    FROM support_tickets
    GROUP BY employee_id, department_name
    ORDER BY ticket_count DESC
    LIMIT 100
""").fetchdf()

In [4]:
result

    employee_id department_name  ticket_count
0             2       Sales Ops          1116
1            46         IT Desk          1101
2            29       HR Office          1081
3             5       Dev Squad          1074
4            13       Dev Squad          1073
..          ...             ...           ...
95           72       HR Office          1043
96           26       Dev Squad          1043
97           47         IT Desk          1043
98           38       HR Office          1043
99           25         IT Desk          1042

[100 rows x 3 columns]